@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --black:#272D3B;
  --red:#ED176F;
  --coral:#F7817F;
  --gradient:linear-gradient(90deg, var(--red), var(--coral));
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection{
  background:var(--red);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

section{
  padding:3rem 9%;
}

.btn{
  display: inline-block;
  padding:.7rem 3rem;
  margin-top: 1rem;
  border-radius: 5rem;
  background:var(--gradient);
  color:#fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  transform: scale(1.1);
}

.heading{
  text-align: center;
  color:transparent;
  background:var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 5rem;
  text-transform: uppercase;
  padding:1rem;
}

header{
  position: fixed;
  top:0; left: 0; right:0;
  background:var(--black);
  z-index: 1000;
  padding:2rem 9%;
  border-bottom: .1rem solid #fff3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  font-weight: bolder;
  color:#fff;
  font-size: 2.5rem;
}

header .navbar a{
  font-size: 2rem;
  margin-left: 2.5rem;
  color:#fff;
}

header .navbar a:hover{
  color:var(--red);
}

#menu-bar{
  font-size: 3rem;
  color:#fff;
  cursor: pointer;
  display: none;
} 

.home {
  background: url(./images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 250vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home .content {
  margin-top: 18px;
  padding: 10px;
  max-width: 70rem;
  margin-right: 22%;
}

.home .content h3 {
  margin-top:25px;
  font-size: 6.5rem;
  color: #fff;
}

.home .content p {
  font-size: 3.5rem;
  color: var(--red);
  padding: 1rem 0;
}

.home .swiper-container {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.home .swiper-slide {
  width: 100vw;
  height: 100vh;
}

.home .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}


/* For screens less than or equal to 768px */
@media screen and (max-width: 768px) {
  .home .content h3 {
    align-items: center;
    font-size: 4rem;
    display: flex;
    align-items: center;
  }
  
  .home .content p {
    font-size: 2.5rem;
  }
  
  .home .swiper-slide {
    width: 90vw;
    height: 50vh;
    margin: 0 auto;
  }
}

/* For screens greater than 768px */
@media screen and (min-width: 769px) {
  .home .content h3 {
    font-size: 6.5rem;
  }
  
  .home .content p {
    font-size: 3.5rem;
  }
  
  .home .swiper-slide {
    width: 30rem;
    height: 50rem;
    margin: 0 1rem;
  }
}

.about {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 220vh;
}

.about .container {
  max-width: 1200px;
  margin: 0 auto;
}

.about .heading {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 50px;
}

.about .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about .image {
  width: 50%;
  max-width: 400px;
  margin-right: 50px;
}

.about .image img {
  width: 100%;
  height: auto;
}

.about .content {
  width: 50%;
  max-width: 600px;
}

.about .content p {
  font-size: 24px;
  color: #272D3B;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  .about .heading {
    font-size: 36px;
    color: #ED176F;
  }
  
  .about .row {
    flex-direction: column;
  }
  
  .about .image {
    margin-right: 0;
    margin-bottom: 30px;
  }
  
  .about .content {
    width: 100%;
  }
}

/* Features section */

.features {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 220vh;
  cursor: pointer;
  }
  .features .heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  }
  .features .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  max-width: 1100px;
  }
  
  .features .box {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--coral);
  text-align: center;
  width: calc(33.33% - 20px);
  margin-bottom: 30px;
  }
  
  .features .box i {
  font-size: 48px;
  color: var(--red);
  margin-bottom: 20px;
  display: block;
  }
  
  .features .box h3 {
  font-size: 24px;
  margin-bottom: 10px;
  }
  
  .features .box p {
  margin-bottom: 5px;
  }
  
  @media (max-width: 991px) {
  .features .box {
  width: calc(50% - 20px);
  }
  }
  
  @media (max-width: 575px) {
  .features .box {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  }
  }
  
/* project section*/
  .project-section {
    padding: 100px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 220vh;
  }

  .project-section h2 {
    font-size: 42px;
    margin-bottom: 60px;
  }

  .project-section .project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .project-section .project-post {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(50% - 20px);
    transition: transform 0.3s ease;
  }

  .project-section .project-post:hover {
    transform: scale(1.05);
  }

  .project-section .project-post h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .project-section .project-post .read-more-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #ff71b6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .project-section .project-post .read-more-btn:hover {
    background-color: #148f77;
  }

  @media (max-width: 991px) {
    .project-section .project-post {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 575px) {
    .project-section .project-post {
      width: 100%;
    }
  }

  .read-more-btn:hover {
    transform: scale(1.1);
    color: blue;
  }

/* Blog Section */
.blog {
  padding: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 220vh;
  }
  .blog h2 {
  font-size: 42px;
  margin-bottom: 60px;
  }
  .blog .blog-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  }
  .blog .blog-post {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(50% - 20px);
  }
  .blog .blog-post h3 {
  font-size: 24px;
  margin-bottom: 10px;
  }
  .blog .blog-post .read-more-btn {
  display: inline-block;
  margin-top: 20px;
  background-color: #1abc9c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  }
  .blog .blog-post .read-more-btn:hover {
  background-color: #148f77;
  }
  
  @media (max-width: 991px) {
  .blog .blog-post {
  width: calc(50% - 20px);
  
  }
  }
  
  @media (max-width: 575px) {
  .blog .blog-post {
  width: 100%;
  }
  }
 
.read-more-btn:hover {
  transform: scale(1.1);
  color: blue;
}


.resume{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 220vh;
}
.resume .heading1{
  color: var(--black);
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 5rem;
  text-transform: uppercase;
  padding:1rem;
}
.cv_btn{
  display:flex;
  justify-items: center;
  padding:.7rem 3rem;
  margin-top: 1rem;
  border-radius: 5rem;
  background:var(--gradient);
  color:#fff;
  cursor: pointer;
  font-size: 1.7rem;
}
.cv_btn:hover{
  transform: scale(1.1);
}

.contact{
  background:linear-gradient(#fff 7%, var(--black) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 220vh;
}
.contact form{
  padding:2rem;
  background:#fff;
  box-shadow: 0 .5rem 3rem rgba(0,0,0,.1);
}

.contact form .inputBox{
  position: relative;
}

.contact form .inputBox input, .contact form .inputBox textarea{
  width:100%;
  margin:1.5rem 0;
  padding:1rem 0;
  border-bottom: .2rem solid rgba(0,0,0,.3);
  font-size: 1.7rem;
  text-transform: none;
}

.contact form .inputBox textarea{
  resize: none;
  height: 15rem;
}

.contact form .inputBox input:focus,
.contact form .inputBox textarea:focus{
  border-color: var(--red);
}

.contact form .inputBox label{
  font-size: 1.7rem;
  position: absolute;
  top:2.3rem; left: 0;
}

.contact form .inputBox input:focus ~ label,
.contact form .inputBox textarea:focus ~ label,
.contact form .inputBox input:valid ~ label,
.contact form .inputBox textarea:valid ~ label{
  top:-.4rem;
  font-size: 1.5rem;
  color:var(--red);
}

.footer{
  text-align: center;
  background:var(--black);
}

.footer .share a{
  height: 4.5rem;
  width:4.5rem;
  line-height: 4.5rem;
  background:#eee;
  color:var(--black);
  border-radius: 50%;
  font-size: 2rem;
  margin:.3rem;
}

.footer .share a:hover{
  color:#fff;
  background:var(--gradient);
}

.footer .credit{
  color:#eee;
  padding:2.5rem 1rem;
  font-weight: normal;
  font-size: 2rem;
}

.footer .credit span{
  color:var(--red);
}

@media screen and (max-width: 768px) {
  .footer{
  background: url(./images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 30vw;
    width: 220vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
}

